# ignore handlers but not the buildin ones
!vendor/handlers/
vendor/handlers/*
!vendor/handlers/_buildin/
!vendor/handlers/_extras/
!vendor/handlers/_legacy/
/_server/
/log
/vendor/bundle
/vendor/data
/vendor/datapacks/*
!vendor/datapacks/.gitkeep
/config
/tmp
